/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.DS_Store


/public/backend
/resources/views/layout/backend
/app/Http/Controllers/AnggotaController.php
/resources/views/anggota/anggota_create.blade.php
/resources/views/anggota/anggota_edit.blade.php
/resources/views/anggota/anggota_id.blade.php
/resources/views/anggota/anggota.blade.php
/resources/views/anggota/anggota2.blade.php
/resources/views/layout/part/topbar.blade copy.php

database-backup/autodeal-lv/autodeal-lv.sql
database-backup/u865649447_autodeal_lv.rar
database-backup/u865649447_autodeal_lv.rar
public/uploads/item_tmp/078188af72984fbbbdb71f58b8e079f2.png
public/uploads/item_tmp/4bc588b58cf54210bb381e5bfa1a283f.png
